In [202]:
import pandas as pd
import numpy as np

In [204]:
df= pd.read_csv("cars.csv")

In [206]:
df.head(4)

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000

In [208]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [210]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

In [212]:
df["brand"].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [214]:
brand_count= df['brand'].value_counts()
valid_brand= brand_count[brand_count>100].index.tolist()
print(valid_brand)

['Maruti', 'Hyundai', 'Mahindra', 'Tata', 'Toyota', 'Honda', 'Ford', 'Chevrolet', 'Renault', 'Volkswagen', 'BMW', 'Skoda']

In [216]:
df['brand'] = df['brand'].apply(lambda x:x if x in valid_brand else 'others' )
# categories_with_others = valid_brand + ['others']

In [218]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns="selling_price"), df["selling_price"], test_size=0.2)

In [220]:
x_train

         brand  km_driven    fuel         owner
3867    Maruti      50000  Petrol  Second Owner
5239    Maruti      20000  Petrol   First Owner
7686    Maruti      60000  Diesel   First Owner
2570  Mahindra      14000  Diesel   First Owner
5718    Maruti     120000  Petrol   First Owner
...        ...        ...     ...           ...
2292  Mahindra      70000  Diesel   First Owner
744   Mahindra      80000  Diesel   Third Owner
6503   Hyundai      70000  Diesel  Second Owner
3150   Hyundai      35000  Petrol  Second Owner
3813    Maruti     160000  Diesel  Second Owner

[6502 rows x 4 columns]

In [222]:
# brand_count= df['brand'].value_counts()
# valid_brand= brand_count[brand_count>100].index.tolist()
# print(valid_brand)

In [224]:
# x_train['brand'] = x_train['brand'].apply(lambda x:x if x in valid_brand else 'others' )
# categories_with_others = valid_brand + ['others']

In [243]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
transformer= ColumnTransformer(transformers=[
                ('tns1',OrdinalEncoder(categories=[['Test Drive Car','Fourth & Above Owner','Third Owner','Second Owner','First Owner']]),['owner']),
                ("tns2",OneHotEncoder(categories=[categories_with_others],sparse_output=False,drop='first',handle_unknown='ignore'),['brand']),
                ('tns3',OneHotEncoder(sparse_output=False,drop='first'),['fuel'])
],remainder='passthrough')

In [247]:
x_train_transformed=transformer.fit_transform(x_train)
x_train_view= pd.DataFrame(x_train_transformed, columns= transformer.get_feature_names_out())
x_train_view.sample(5)

,tns1__owner,tns2__brand_Hyundai,tns2__brand_Mahindra,tns2__brand_Tata,tns2__brand_Toyota,tns2__brand_Honda,tns2__brand_Ford,tns2__brand_Chevrolet,tns2__brand_Renault,tns2__brand_Volkswagen,tns2__brand_BMW,tns2__brand_Skoda,tns2__brand_others,tns3__fuel_Diesel,tns3__fuel_LPG,tns3__fuel_Petrol,remainder__km_driven
6296,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,100000.0
430,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,28832.0
4660,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,45000.0
1716,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,70000.0
3043,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,110000.0

In [230]:
transformer.fit_transform(x_test).shape

(1626, 17)