In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [9]:
df= pd.read_csv('titanic_toy.csv')

In [11]:
df.sample(5)

      Age      Fare  Family  Survived
439  31.0   10.5000       0         0
225  22.0    9.3500       0         0
45    NaN    8.0500       0         0
109   NaN   24.1500       1         1
299  50.0  247.5208       1         1

In [22]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [26]:
x.sample(3)

      Age     Fare  Family
774  54.0  23.0000       4
533   NaN  22.3583       2
627  21.0  77.9583       0

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [34]:
imputer1 = SimpleImputer(strategy='constant', fill_value=99)
imputer2 = SimpleImputer(strategy='constant', fill_value=999)

In [58]:
trf =ColumnTransformer([
    ('imputer1',imputer1,['Age']),
    ('imputer2',imputer2,['Fare'])
], remainder='passthrough')

In [60]:
x_train_trf= trf.fit_transform(x_train)